@model IEnumerable<String>
@{
    ViewData["Title"] = "Primeros Ingresos";
}

<!DOCTYPE html>
<html>

<head>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />


</head>

<body>

    <br><br>
    <div style="width:810px; padding:3px;">

        <div style="float:right;">
            <select class="browser-default custom-select" id="buscarNumConvocatoria">
                <option></option>
                @foreach (var convocatoria in Model)
                {
                    <option value="@convocatoria">
                        @convocatoria
                    </option>
                }
            </select>
            
            <select class="browser-default custom-select" id="buscarNumFlujo"></select>
                <button id="btn_BuscarFLCV">Buscar</button>
                <script>
                    var btn_BuscarFLCV = $("#btn_BuscarFLCV");
                    var selectFlujos = $("#buscarNumFlujo");
                    $("#btn_BuscarFLCV").click(function () {
                        //console.log("It works")

                    });
                    $("#buscarNumConvocatoria").on('change', function () {

                        if (this.value != "") {
                            selectFlujos.empty();
                            var url = "http://localhost:55439/api/cuadroGeneral/" + this.value;
                            console.log("HOLA1")
                            $.post(url, null, function (data) {
                                console.log("HOLA2")
                                if (data.length === 0) {
                                    alert("La convocatoria seleccionada no tiene flujos");
                                } else {
                                    var size = 0;
                                    for (key in data) {
                                        if (data.hasOwnProperty(key)) {
                                            
                                            $(
                                                '<option value="' + data[size]+'">'+
                                                data[size]+
                                                '</option>'
                                            )
                                                .appendTo(selectFlujos);
                                            size = size + 1;
                                            
                                        }


                                    }
                                }
                            //console.log("It works " + this.value)
                            });
                        }
                    
                    });

                </script>
</div>
        <br><br><br><br>
        <div class="form-group" style="width:80px; float:left;">

            <h4>Nombrados:</h4> <input type="text" size="15" maxlength="30" name="txtNombrado" disabled>
            <h4>Positivos:</h4> <input type="text" size="15" maxlength="30" name="txtPositivo" disabled>

        </div>

        <div class="form-group" style="width:300px; float:right;">

            <h4>En Espera:</h4> <input type="text" size="15" maxlength="30" name="txtEspera" disabled>
            <h4>Negativos:</h4> <input type="text" size="15" maxlength="30" name="txtNegativos" disabled>

        </div>

    </div>

    <br><br><br><br><br><br><br><br><br><br>

    <!--Tabla Resumen de días-->
    <div class="table-responsive col-md-12 col-xs-12 col-sm-12" style="text-align: center; overflow-y: auto;">
        <table id="tablaPrimerosIngresos" class="table table-bordered table-responsive table-hover">
            <thead style="align-content: center;">
                <tr style=" background-color: #222;" class="btn-primary">

                    <th scope="col">
                        Gesti&oacute;n Humana - Administraci&oacute;n
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>
                    <th scope="col">
                        Antecedentes
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>
                    <th scope="col">
                        Transportes
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>
                    <th scope="col">
                        M&eacute;dicas
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>
                    <th scope="col">
                        Toxolog&iacute;a
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>

                </tr>
            </thead>

            <tbody>

                <tr>

                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>

            </tbody>

        </table>

    </div>

    <br><br><br><br><br><br><br><br>

    <h4>Filtros:</h4>

    <br>

    <div style="width:200px; float:left;">

        <select class="browser-default custom-select">
            <option selected value="0">Todos</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>

    <div style="width:200px; float:left;">

        <select class="browser-default custom-select">
            <option selected value="0">Todos</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>




    <br><br><br><br>

    <!--Tabla Cuadro General-->
    <div class="table-responsive col-md-12 col-xs-12 col-sm-12" style="text-align: center; overflow-y: auto;">
        <table id="tablaPrimerosIngresos" class="table table-bordered table-responsive table-hover">
            <thead style="align-content: center;">
                <tr style=" background-color: #222;" class="btn-primary">
                    <th class="border-top-left"></th>
                    <th class="centrarTitulos">N&deg;. Concurso</th>
                    <th class="centrarTitulos">Ubicaci&oacute;n</th>
                    <th class="centrarTitulos">N&deg;. C&eacute;dula</th>
                    <th class="centrarTitulos">Nombre</th>
                    <th class="centrarTitulos">
                        Tr&aacute;mite
                        <br>Administraci&oacute;n
                    </th>
                    <th class="centrarTitulos">
                        Pruebas
                        <br>Psicol&oacute;gicas-Psicom&eacute;tricas
                    </th>
                    <th class="centrarTitulos">
                        Tr&aacute;mite
                        <br>Administraci&oacute;n
                    </th>
                    <th class="centrarTitulos">
                        Invest.
                        <br>De Antecedentes
                    </th>
                    <th class="centrarTitulos">
                        Tr&aacute;mite
                        <br>Administraci&oacute;n
                    </th>
                    <th>Vialidad</th>
                    <th class="centrarTitulos">
                        Fecha Envio a GH
                        <br>Traslado a Nueva Etapa
                    </th>
                    <th class="centrarTitulos">Pruebas M&eacute;dicas</th>
                    <th class="centrarTitulos">
                        Tr&aacute;mite
                        <br>Administraci&oacute;n
                    </th>
                    <th class="centrarTitulos">Toxicolog&iacute;a</th>
                    <th class="centrarTitulos">Condici&oacute;n</th>
                    <th class="centrarTitulos">
                        Instancia en que
                        <br>Perdi&oacute; el Proceso
                    </th>
                    <th class="centrarTitulos">Fecha Ingreso</th>
                    <th class="centrarTitulos">
                        Cantidad Total
                        <br>D&iacute;as en Tr&aacute;mite
                    </th>

                </tr>
            </thead>

            <tr style="background:#f1f1f1">
                <td>
                    <LinkButton ID="btnFiltrar"><span aria-hidden="true" class="btn glyphicon glyphicon-search"></span> </LinkButton>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>

    </div>

</body>


</html>


