@model IEnumerable<String>
@{
    ViewData["Title"] = "Primeros Ingresos";
}

<!DOCTYPE html>
<html>

<head>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    


</head>

<body>

    <br><br>
    <div style="width:810px; padding:3px;">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <center>
                <h2>Cuadro General</h2>
            </center>
        </div>
        <br />
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <hr />
        </div>
        <br />
        <div>
            <h6>No.Convocatoria</h6>
            <select class="browser-default custom-select" id="buscarNumConvocatoria">
                <option value="AA">Todas</option>
                @foreach (var convocatoria in Model)
                {
                    <option value="@convocatoria">
                        @convocatoria
                    </option>
                }
            </select>
            <h6>No.Flujo</h6>
            <select class="browser-default custom-select" id="buscarNumFlujo">
                <option value="0">Todos</option>
            </select>
            <button id="btn_BuscarFLCV">Buscar</button>

        </div>
        <br><br><br><br>
        <div class="form-group" style="width:80px; float:left;">

            <h4>Nombrados:</h4> <input type="text" size="15" maxlength="30" name="txtNombrado" disabled>
            <h4>Positivos:</h4> <input type="text" size="15" maxlength="30" name="txtPositivo" disabled>

        </div>

        <div class="form-group" style="width:300px; float:right;">

            <h4>En Espera:</h4> <input type="text" size="15" maxlength="30" name="txtEspera" disabled>
            <h4>Negativos:</h4> <input type="text" size="15" maxlength="30" name="txtNegativos" disabled>

        </div>

    </div>

    <br><br><br><br><br><br><br><br><br><br>

    <!--Tabla Resumen de días-->
    <div class="table-responsive col-md-12 col-xs-12 col-sm-12" style="text-align: center; overflow-y: auto;">
        <table id="tablaDeps" class="table table-bordered table-responsive table-hover">
            <thead style="align-content: center;">
                <tr style=" background-color: #222;" class="btn-primary">

                    <th scope="col">
                        Gesti&oacute;n Humana - Administraci&oacute;n
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>
                    <th scope="col">
                        Antecedentes
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>
                    <th scope="col">
                        Transportes
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>
                    <th scope="col">
                        M&eacute;dicas
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>
                    <th scope="col">
                        Toxolog&iacute;a
                        <hr>Cantidad-Casos en Tr&aacute;mite
                    </th>

                </tr>
            </thead>

            <tbody>

                <tr>

                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>

            </tbody>

        </table>

    </div>

    <br><br><br><br><br><br><br><br>

    <h4>Filtros:</h4>

    <br>

    <div style="width:200px; float:left;">

        <select class="browser-default custom-select">
            <option selected value="0">Todos</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>

    <div style="width:200px; float:left;">

        <select class="browser-default custom-select">
            <option selected value="0">Todos</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>


   <br><br>
    <div class="container">
        <p>Seleccione las columnas que desea volver visibles</p>

        <label class="checkbox-inline">
            <input type="checkbox" id="ck1" value="1">N&deg;. Concurso
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck2" value="2">Ubicaci&oacute;n
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck3" value="3">N&deg;. C&eacute;dula
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck4" value="4">Nombre
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck5" value="5">Puestos
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck6" value="6">T.Administraci&oacute;n
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck7" value="7">Pruebas Psicol&oacute;gicas-Psicom&eacute;tricas
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck8" value="8">T.Administraci&oacute;n
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck9" value="9">Invest. De Antecedentes
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck10" value="10">T.Administraci&oacute;n
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck11" value="11">Vialidad
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck12" value="12">Fecha Envio a GH Traslado a Nueva Etapa
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck13" value="13">T.Administraci&oacute;n
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck14" value="14">Pruebas M&eacute;dicas
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck15" value="15">T.Administraci&oacute;n
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck16" value="16">Toxicolog&iacute;a
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck17" value="17">Instancia en que perdi&oacute; el Proceso
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="ck19" value="19">Fecha Ingreso
        </label>

    </div>
    <br><br><br><br>



    <!--Tabla Cuadro General-->
                <div class="table-responsive col-md-12 col-xs-12 col-sm-12" style="text-align: center; overflow-y: auto;">
                    <table id="tablaPrimerosIngresos" class="table table-striped table-bordered">
                        <thead style="align-content: center;">
                            <tr style=" background-color: #222;" class="btn-primary">
                                <th class="centrarTitulos">N&deg;. Concurso</th>
                                <th class="centrarTitulos">Ubicaci&oacute;n</th>
                                <th class="centrarTitulos">N&deg;. C&eacute;dula</th>
                                <th class="centrarTitulos">Nombre</th>
                                <th class="centrarTitulos">Puestos</th>
                                <th class="centrarTitulos">
                                    Tr&aacute;mite
                                    <br>Administraci&oacute;n
                                </th>
                                <th class="centrarTitulos">
                                    Pruebas
                                    <br>Psicol&oacute;gicas-Psicom&eacute;tricas
                                </th>
                                <th class="centrarTitulos">
                                    Tr&aacute;mite
                                    <br>Administraci&oacute;n
                                </th>
                                <th class="centrarTitulos">
                                    Invest.
                                    <br>De Antecedentes
                                </th>
                                <th class="centrarTitulos">
                                    Tr&aacute;mite
                                    <br>Administraci&oacute;n
                                </th>
                                <th class="centrarTitulos">Vialidad</th>
                                <th class="centrarTitulos">
                                    Fecha Envio a GH
                                    <br>Traslado a Nueva Etapa
                                </th>
                                <th class="centrarTitulos">
                                    Tr&aacute;mite
                                    <br>Administraci&oacute;n
                                </th>
                                <th class="centrarTitulos">Pruebas M&eacute;dicas</th>
                                <th class="centrarTitulos">
                                    Tr&aacute;mite
                                    <br>Administraci&oacute;n
                                </th>
                                <th class="centrarTitulos">Toxicolog&iacute;a</th>
                                <th class="centrarTitulos">
                                    Instancia en que
                                    <br>Perdi&oacute; el Proceso
                                </th>
                                <th class="centrarTitulos">Condici&oacute;n</th>

                                <th class="centrarTitulos">Fecha Ingreso</th>
                                <th class="centrarTitulos">
                                    Cantidad Total
                                    <br>D&iacute;as en Tr&aacute;mite
                                </th>

                            </tr>
                        </thead>

                        <tr style="background:#f1f1f1"></tr>

                    </table>
                    <div>
                        <button id="previousBtn" type="button" class="btn btn-dark">&laquo; Previous</button>
                        <label id="paginationLabel"></label>
                        <button id="nextBtn" type="button" class="btn btn-light">Next &raquo</button>
                    </div>
                    
                </div>


</body>


</html>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script>
    var btn_BuscarFLCV = $("#btn_BuscarFLCV");
    var selectFlujos = $("#buscarNumFlujo");
    var selectConvocatoria = $("#buscarNumConvocatoria");
    var tablaPrimerosIngresos = $("#tablaPrimerosIngresos");
    var paginationLabel = $("#paginationLabel");
    var btnPrevious = $('#previousBtn');
    var btnNext = $('#nextBtn');
    var contentPaginationLbl = "";
    var actualPage = 0;
    var totalPages = 0;

    var nombrePI = "";
    var puestos = "N/A";
    $('#previousBtn').click(function () {
        
        contentPaginationLbl = paginationLabel.html();
        actualPage = parseInt(contentPaginationLbl[0]);
        totalPages = parseInt(contentPaginationLbl[2]);
        if (actualPage != 1) {
            if (actualPage == 2) {
                btnPrevious.hide();
            }
            if (actualPage == totalPages) {
                btnNext.show();
            }
            actualPage = actualPage - 1;
            paginationLabel.text(actualPage + "/" + totalPages);
        }
        
    });
    $('#nextBtn').click(function () {
        
        contentPaginationLbl = paginationLabel.html();
        actualPage = parseInt(contentPaginationLbl[0]);
        totalPages = parseInt(contentPaginationLbl[2]);
        
        if (actualPage == 1) {
            btnPrevious.show();
        }
        if (totalPages - actualPage == 1) {
            btnNext.hide();
        }
        actualPage = actualPage + 1;
        paginationLabel.text(actualPage + "/" + totalPages);
    });
    function hideDefaultColumns() {
        for (var i = 6; i < 20; i++) {

            if (i != 18) {
                $("#ck" + i).prop('checked', true);
                $('th:nth-child(' + i + ')').hide();
                $('td:nth-child(' + i + ')').hide();
                
            }
        }
    }
    $(document).ready(function () {

        hideDefaultColumns();
        btnNext.hide();
        btnPrevious.hide();
        paginationLabel.hide();
    });
    $('label.checkbox-inline').click(function () {
        var headColumn = $('th:nth-child(' + $(this).children().val() + ')');
        var column = $('td:nth-child(' + $(this).children().val() + ')');



        // Toggle the visibility


        if (column.css('display') == 'none') {
            headColumn.show();
            column.show();
        } else {
            headColumn.hide();
            column.hide();
        }



        //var result = ;
        //console.log(result)
    });
    function displayTable(data) {
        totalPages = Math.ceil(data.length / 10);
        if (totalPages > 1) {
            btnNext.show();
            btnPrevious.show();
            paginationLabel.text(1 + "/" + totalPages);
            paginationLabel.show();
        }
        
        for (key in data) {
            puestos = "";
            if (data.hasOwnProperty(key)) {
                nombrePI = "" + data[key].nombrePI + " " + data[key].primerApellido + " " + data[key].segundoApellido;
                for (puestoKey in data[key].puestosAplica) {

                    puestos = puestos + data[key].puestosAplica[puestoKey].nombre + ", ";


                    //console.log(data[key].puestosAplica[puestoKey].idPuesto)
                }
                $(
                    '<tr style="background:#f1f1f1" id="tupla' + key + '">' + '</tr>'
                )
                    .appendTo(tablaPrimerosIngresos);
                $(
                    '<td>' + data[key].numeroConvocatoria + '</td>' +
                    '<td>' + data[key].numeroFlujo + '</td>' +
                    '<td>' + data[key].numeroCedula + '</td>' +
                    '<td>' + nombrePI + '</td>' +
                    '<td>' + puestos + '</td>' +
                    '<td>' + data[key].cantidadDiasAdminPruebasGH + '</td>' +
                    '<td>' + data[key].cantidadDiasPruebasGH + '</td>' +
                    '<td>' + data[key].cantidadDiasAdminAntecedentes + '</td>' +
                    '<td>' + data[key].cantidadDiasAntecedentes + '</td>' +
                    '<td>' + data[key].cantidadDiasAdminVialidad + '</td>' +
                    '<td>' + data[key].cantidadDiasVialidad + '</td>' +
                    '<td>' + data[key].fechaEnvioGHTraslado + '</td>' +
                    '<td>' + data[key].cantidadDiasAdminPruebasMedicas + '</td>' +
                    '<td>' + data[key].cantidadDiasPruebasMedicas + '</td>' +
                    '<td>' + data[key].cantidadDiasAdminToxicologia + '</td>' +
                    '<td>' + data[key].cantidadDiasToxicologia + '</td>' +
                    '<td>' + data[key].instanciaPerdioProceso + '</td>' +
                    '<td>' + data[key].condicion + '</td>' +
                    '<td>' + data[key].fechaIngreso + '</td>' +
                    '<td>' + data[key].cantidadDiasTotalesTramite + '</td>'


                )
                    .appendTo("#tupla" + key);




            }


        }
    }
    $("#btn_BuscarFLCV").click(function () {

        tablaPrimerosIngresos.find("tr:gt(0)").remove();
        var url2 = "http://localhost:55439/api/cuadroGeneral/listaPI/" + selectConvocatoria.val() + "/" + selectFlujos.val();


        $.post(url2, null, function (data) {
            if (data.length === 0) {
                alert("El cuadro general seleccionado esta vacio");
            } else {

                displayTable(data);
                hideDefaultColumns();
                //btn_BuscarFLCV.prop("disabled", false);
            }
            //console.log("It works " + this.value)
        });

    });
    $("#buscarNumConvocatoria").on('change', function () {
        selectFlujos.empty();

        if (this.value != "") {
            if (this.value == "AA") {

                $(
                    '<option value="0">Todos</option>'
                ).appendTo(selectFlujos);

            } else {
                var url = "http://localhost:55439/api/cuadroGeneral/" + this.value;

                $.post(url, null, function (data) {

                    if (data.length === 0) {
                        alert("La convocatoria seleccionada no tiene flujos");
                    } else {
                        var size = 0;
                        for (key in data) {
                            if (data.hasOwnProperty(key)) {

                                $(
                                    '<option value="' + data[size] + '">' +
                                    data[size] +
                                    '</option>'
                                )
                                    .appendTo(selectFlujos);
                                size = size + 1;

                            }


                        }
                        $(
                            '<option value="0">Todos</option>'
                        )
                            .appendTo(selectFlujos);
                        //btn_BuscarFLCV.prop("disabled", false);
                    }
                    //console.log("It works " + this.value)
                });
            }

        }

    });

</script>