
@{
    ViewData["Title"] = "Primeros Ingresos";
}

<!DOCTYPE html>
<html>

<head>

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />


</head>

<body>

    <script type="text/JavaScript">

        $(document).ready(function () {
            $('#dtHorizontalVerticalExample').DataTable({
                "scrollX": true,
                "scrollY": 200,
            });
            $('.dataTables_length').addClass('bs-select');
        });

    </script>




    <style type="text/css">

        #dtHorizontalVerticalExampleWrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        #dtHorizontalVerticalExample th, td {
            white-space: nowrap;
        }

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>

    <br><br>

    <form>
        <div style="float:right;">

            <input type="search" id="buscarPrimerIngreso" name="buscarPrimerIngreso"
                   placeholder="Buscar Primer Ingreso" required
                   size="30" maxlength="50">
            <button>Buscar</button>
            <span class="validity"></span>
        </div>
    </form>

    <br><br>
    <div style="width:810px; padding:3px;">

        <div style="width:400px; float:left;">

            <h4>Nombrados: <input type="text" size="15" maxlength="30" name="txtNombrado" disabled> </h4>
            <h4>Positivos: <input type="text" size="15" maxlength="30" name="txtPositivo" disabled> </h4>

        </div>
        <div style="width:400px; float:right;">

            <h4>En Espera: <input type="text" size="15" maxlength="30" name="txtEspera" disabled> </h4>
            <h4>Negativos: <input type="text" size="15" maxlength="30" name="txtNegativos" disabled> </h4>

        </div>

    </div>
    <br><br>

    <table class="table">

        <thead>

            <tr>

                <th scope="col">
                    Gesti&oacute;n Humana - Administraci&oacute;n
                    <hr>Cantidad-Casos en Tr&aacute;mite
                </th>
                <th scope="col">
                    Antecedentes
                    <hr>Cantidad-Casos en Tr&aacute;mite
                </th>
                <th scope="col">
                    Transportes
                    <hr>Cantidad-Casos en Tr&aacute;mite
                </th>
                <th scope="col">
                    M&eacute;dicas
                    <hr>Cantidad-Casos en Tr&aacute;mite
                </th>
                <th scope="col">
                    Toxolog&iacute;a
                    <hr>Cantidad-Casos en Tr&aacute;mite
                </th>

            </tr>

        </thead>

        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>

        </tbody>

    </table>

    <br><br>

    <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm " cellspacing="0"
           width="100%">
        <thead>
            <tr>
                <th>N&deg;. Concurso</th>
                <th>Ubicaci&oacute;n</th>
                <th>N&deg;. C&eacute;dula</th>
                <th>Nombre</th>
                <th>
                    Tr&aacute;mite
                    <br>Administraci&oacute;n
                </th>
                <th>
                    Pruebas
                    <br>Psicol&oacute;gicas-Psicom&eacute;tricas
                </th>
                <th>
                    Tr&aacute;mite
                    <br>Administraci&oacute;n
                </th>
                <th>
                    Invest.
                    <br>De Antecedentes
                </th>
                <th>
                    Tr&aacute;mite
                    <br>Administraci&oacute;n
                </th>
                <th>Vialidad</th>
                <th>
                    Fecha Envio a GH
                    <br>Traslado a Nueva Etapa
                </th>
                <th>Pruebas M&eacute;dicas</th>
                <th>
                    Tr&aacute;mite
                    <br>Administraci&oacute;n
                </th>
                <th>Toxicolog&iacute;a</th>
                <th>Condici&oacute;n</th>
                <th>
                    Instancia en que
                    <br>Perdi&oacute; el Proceso
                </th>
                <th>Fecha Ingreso</th>
                <th>
                    Cantidad Total
                    <br>D&iacute;as en Tr&aacute;mite
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger</td>
                <td>Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                <td>5421</td>
                <td>t.nixon@datatables.net</td>
            </tr>

        </tbody>
    </table>

</body>


</html>

