
@{
    ViewData["Title"] = "CitasPI";


}




<h2 style="margin-left: auto; margin-right: auto;">Programar Citas</h2>


<div style="margin-left: auto; margin-right: auto;" class="container">

    @using (Html.BeginForm("ProgramarCitasPorFlujoPI", "ControlFlujos", FormMethod.Post, new { Id = "programarCitasPI" }))
    {





    }

</div>
